/*------------------------------------*\
    TYPE.CSS
\*------------------------------------*/
/**
 * Fonts and typography here.
 *
 */

 @font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-fontfacekit/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-fontfacekit/Chunkfive-webfont.eot?#iefix') format('eot'),
         url('../fonts/Chunkfive-fontfacekit/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-fontfacekit/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-fontfacekit/Chunkfive-webfont.svg#webfontbMWZ83oH') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArimoRegular';
    src: url('../fonts/arimo-fontfacekit/Arimo-Regular-Latin-webfont.eot');
    src: url('../fonts/arimo-fontfacekit/Arimo-Regular-Latin-webfont.eot?#iefix') format('eot'),
         url('../fonts/arimo-fontfacekit/Arimo-Regular-Latin-webfont.woff') format('woff'),
         url('../fonts/arimo-fontfacekit/Arimo-Regular-Latin-webfont.ttf') format('truetype'),
         url('../fonts/arimo-fontfacekit/Arimo-Regular-Latin-webfont.svg#webfontfp9yEXd3') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArimoItalic';
    src: url('../fonts/arimo-fontfacekit/Arimo-Italic-Latin-webfont.eot');
    src: url('../fonts/arimo-fontfacekit/Arimo-Italic-Latin-webfont.eot?#iefix') format('eot'),
         url('../fonts/arimo-fontfacekit/Arimo-Italic-Latin-webfont.woff') format('woff'),
         url('../fonts/arimo-fontfacekit/Arimo-Italic-Latin-webfont.ttf') format('truetype'),
         url('../fonts/arimo-fontfacekit/Arimo-Italic-Latin-webfont.svg#webfont42n037qc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArimoBold';
    src: url('../fonts/arimo-fontfacekit/Arimo-Bold-Latin-webfont.eot');
    src: url('../fonts/arimo-fontfacekit/Arimo-Bold-Latin-webfont.eot?#iefix') format('eot'),
         url('../fonts/arimo-fontfacekit/Arimo-Bold-Latin-webfont.woff') format('woff'),
         url('../fonts/arimo-fontfacekit/Arimo-Bold-Latin-webfont.ttf') format('truetype'),
         url('../fonts/arimo-fontfacekit/Arimo-Bold-Latin-webfont.svg#webfonttFm9rI8X') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArimoBoldItalic';
    src: url('../fonts/arimo-fontfacekit/Arimo-BoldItalic-Latin-webfont.eot');
    src: url('../fonts/arimo-fontfacekit/Arimo-BoldItalic-Latin-webfont.eot?#iefix') format('eot'),
         url('../fonts/arimo-fontfacekit/Arimo-BoldItalic-Latin-webfont.woff') format('woff'),
         url('../fonts/arimo-fontfacekit/Arimo-BoldItalic-Latin-webfont.ttf') format('truetype'),
         url('../fonts/arimo-fontfacekit/Arimo-BoldItalic-Latin-webfont.svg#webfontSEjcCwHE') format('svg');
    font-weight: normal;
    font-style: normal;

}
